! OSPF interface config
{% for port in isl_ports[ansible_network_os] %}
interface {{ port }}
  ip ospf network point-to-point
  ip ospf area 0.0.0.0
!
{% endfor %}
interface lo
  ip ospf area 0.0.0.0
!
!
! EVPN l3VNI config
!
{% for item in evpn_l3_info %}
vrf {{ item.vrf }}
 vni {{ item.vnid }}
{% endfor %}
!
! ospf config
!
router ospf
  ospf router-id {{ lo_addr }}
  passive-interface lo
!
! bgp default vrf config
!
router bgp {{ ibgp_asn }}
 bgp router-id {{ lo_addr }}
 no bgp default ipv4-unicast
 neighbor RR peer-group
 neighbor RR remote-as internal
 neighbor RR bfd
 neighbor FW peer-group
 neighbor FW remote-as external
 neighbor FW bfd
 {% for peer in evpn_peers %}
 neighbor {{ peer }} peer-group RR
 {% endfor %}
 {% for port in default_vrf_firewall_ports[ansible_network_os] %}
 neighbor {{ port.iface }} interface peer-group FW
 {% endfor %}
 !
 address-family ipv4 unicast
  neighbor RR activate
  neighbor FW activate
  redistribute ospf
  maximum-paths ibgp 16
 exit-address-family
!
 address-family l2vpn evpn
  neighbor RR activate
  advertise-all-vni
 exit-address-family
!
{% for vrf in evpn_vrfs %}
router bgp {{ ibgp_asn }} vrf {{ vrf }}
 bgp router-id {{ lo_addr }}
 no bgp default ipv4-unicast
 neighbor ISL peer-group
 neighbor ISL remote-as external
 {% for port in evpn_vrf_firewall_ports[ansible_network_os] %}
 {% if port.vrf == vrf %}
 neighbor {{ port.iface }} interface peer-group ISL
 {% endif %}
 {% endfor %}
!
 address-family ipv4 unicast
  neighbor ISL activate
  {% for item in l2_networks %}
  aggregate-address {{ l2_networks[item].ip_subnet }} summary-only
  {% endfor %}
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
!
{% endfor %}
!
router bgp {{ ibgp_asn }} vrf {{ internet_vrf }}
 bgp router-id {{ lo_addr }}
 no bgp default ipv4-unicast
 neighbor EDGE peer-group
 neighbor EDGE remote-as external
 neighbor EDGE bfd
 neighbor FW peer-group
 neighbor FW remote-as external
 neighbor FW bfd
 {% for port in internet_vrf_firewall_ports[ansible_network_os] %}
 neighbor {{ port.iface }} interface peer-group FW
 {% endfor %}
 {% for port in dcedge_ports[ansible_network_os] %}
 neighbor {{ port.iface }} interface peer-group EDGE
 {% endfor %}
 address-family ipv4 unicast
   neighbor FW activate
   neighbor EDGE activate
   neighbor EDGE allowas-in 1
!
!
